<div id="Wrapper" style="position: relative;">
  <div id="swap_to">

    
  </div>

  <div id="swap_from">
    <div id="screen_body" class="container">
      
      

      
        <table class="layout">
          <tr>
            <td class="left">
              <div class="Left">
                <div class="col">

                  
                  <div class="page_header">
  <div class="page_header_links">
    

    

    
  </div>

  <h1>Bem vindo!</h1>
</div>
                  <div class="innercol">
                    








<form action="/people/3809931/avatar" enctype="multipart/form-data" method="post" onsubmit="closeKeepAlive()"><div style="margin:0;padding:0"><input name="_method" type="hidden" value="put" /></div>

  <div id="basic_form">
    <p class="blockintro">

  <%= calendar(:year => Date.today.year, :month => Date.today.month, :table_class => "calendar") do |d|
      d
    end %>




      <br><br><br><br><br><br><br><br><br><br><br>
    </p>
  </div>

</form>




                  </div>
                  
                </div>
                    <div class="bottom">&nbsp;</div>
  


  

              </div>
            </td>
            <td class="right">
              <div class="Right">
                <div class="col">
                   
  <h1>Informações Pessoais</h1>

  <div class="people">
    <div class="contact" id="firm_employee_3809931">

  <div class="avatar">
    <%= image_tag @current_user.avatar.url %>
  </div>

  <div class="body">
    <h3><%= full_name %></h3>

    
      
    
      <a href="mailto:<%= current_user.email %>"><%= current_user.email %></a><br />
      Data do cadastro: <%= current_user.created_at.to_s(:long) %>
    
      
    
      
    
      
    
      
    
      
    

    
      

      <br />

    

    <div class="edit">
      
    </div>
  </div>
</div>

  </div>

  

                 </div>
               </div>
             </td>

           </tr>
        </table>
      
    </div>
  </div>
</div>