<div id="Wrapper" style="position: relative;">
  <div id="swap_to">


  </div>

  <div id="swap_from">
    <div id="screen_body" class="container">




        <table class="layout">
          <tr>
            <td class="left">
              <div class="Left">
                <div class="col">


                  <div class="page_header">
  <div class="page_header_links">





  </div>

  <h1>Bem vindo!</h1>
</div>
                  <div class="innercol">


<div id="test">
    
</div>






<form action="/people/3809931/avatar" enctype="multipart/form-data" method="post" onsubmit="closeKeepAlive()"><div style="margin:0;padding:0"><input name="_method" type="hidden" value="put" /></div>

  <div id="basic_form">
    <p class="blockintro">
    <% if current_user.has_role?("completo") %>
      <%  weekly_links(:date => @date)  %>
      <br><br>
      <%  weekly_calendar(@events, :date => @date) do |w|  %>
        <%  w.week(:business_hours => params[:business_hours], :clickable_hours => true) do |event,truncate|  %>
          <%=  event.starts_at.strftime('%I:%M%p')  %>
          <%=  link_to truncate(event.name,truncate), event_path(event)  %>
        <% end -%>
      <% end -%>
    <% end %>
    </p>
  </div>

</form>




                  </div>

                </div>
                    <div class="bottom">&nbsp;</div>





              </div>
            </td>
            
            <td class="right">
              <div class="Right">
                <div class="col">

                  <h1><%= image_tag "profile.png" %> Informações Pessoais</h1>
                    <div class="people">
                      <div class="contact">
                        <div>
                          <%= image_tag current_user.avatar.url(:thumb), :id => "avatar" %>
                        </div>

                        <div class="body">
                          <h3><%= current_user.name %></h3>
                          <%= current_user.professional_description %><br /><a href="mailto:<%= current_user.email %>"><%= current_user.email %></a><br />
                          Data do cadastro: <%= current_user.created_at.to_s(:long) %>
                          <br />
                        </div>
                    </div>
                    
                  <h1><%= image_tag "statistic.png" %> Estatísticas</h1>
                  <div class="people">
                    <div class="contact" id="firm_employee_3809931">
                      <li><span style="vertical-align:bottom"><%= image_tag "tick.png" %></span> 3000 Pessoas</li>
                      <li><span style="vertical-align:bottom"><%= image_tag "tick.png" %></span> 2389 Empresas</li>
                      <li><span style="vertical-align:bottom"><%= image_tag "tick.png" %></span> 4500 Oportunidades</li>
                    </div>
                  </div>

                </div>
              </div>
            </td>

           </tr>
        </table>

    </div>
  </div>
</div>