<body>

<div id="center">
	<table class="layout">
		<tr>
			<td class="left">
				<div class="Left">
					<div class="col">
						<div class="page_header">
							<h1>Inbox</h1>
						</div>

						<%= flash_message %>

						<div class="innercol">
							<div class="action_compose">
								<div class="buttons">
									<br>
								</div>
							</div>

							<div id="Main" class="">
								<h3 class="Tab"> 
									<span class="TabOut"><%= link_to @folder.name, :controller => "mailbox", :action => "index" %></span>
									<span class="TabIn">Enviados</span>
							</h3>

								<table id="mail" cellspacing="0" width="100%">
									<tr valign="bottom">
										<th>&nbsp;</th>
										<th>Para</th>
										<th>Assunto</th>
										<th>Data</th>
									</tr>

									<% for message in @messages %>
										<tr class="message_row mail_icon">
												<td></td>
												<td class="fromto"><%= message.recipients.map(&:name).to_sentence %></td>
												<td class="subj"><%= link_to h(message.subject), sent_path(message) %> </td>
												<td class="date"><%= distance_of_time_in_words(message.created_at, Time.now) %></td>
											</tr>
									<% end %>

								</table>
								<%= will_paginate @messages %>

								<div class="action">
								</div>
							</div>
						</div>
					<div>
				</div>
			</td>
		</tr>
	</table>
</div>
</body>