<body>

<div id="center">
  <table class="layout">
    <tr>
      <td class="left">
        <div class="Left">
          <div class="col">
            <div class="page_header">
              <span class="other_indexes">
                <%= link_to 'Voltar', :controller => 'mailbox', :action => 'index' %>
              </span>
                                
              <h1>Inbox</h1>
            </div>

            <div class="innercol">
              <% form_for :message, :url => {:controller => "sent", :action => "create"} do |f| %>
                <%= f.error_messages %>
                <div id="basic_form">
                  <div class="block">
                      <dl>
                        <dt class="required"><%= label_tag('Para:') %></dt>
                        <dd>
                          <select name="message[to]" id="To">
                            <%= options_from_collection_for_select(User.find(:all), :id, :name, @message.to) %>
                          </select>
                        </dd>
                      </dl>
                      <dl>
                        <dt class="required"><%= label_tag('Assunto:') %></dt>
                        <dd>
                          <%= f.text_field :subject, :id => 'Subject', :size => 50 %>
                        </dd>
                      </dl>
                      <dl>
                        <dt class="required"><%= label_tag('Corpo:') %></dt>
                        <dd>
                          <%= f.text_area :body, :id => 'Body', :cols => 62, :rows => 10 %>
                        </dd>
                      </dl>
                  </div>
                </div>
  
                <div class="action">
                  <div class="buttons">
                    <%= submit_tag 'Enviar', :id => "Send" %> 
                    <br>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

</body>