<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=unicode">
<meta content="MSHTML 6.00.2900.3562" name="GENERATOR"></head>
<body><div id="Wrapper" style="POSITION: relative">
     <div id="swap_from">
          <div id="screen_body" class="container">
               <table class="layout">
                  <tr>
                     <td class="left">
                        <div class="Left">
                           <div class="col">
                              <div class="page_header">
                                 <h1>Informações Pessoais</h1>
                              </div>

                              <% form_for :curriculum, @curriculum, :url => { :action => "update", :id => @curriculum.id } do |f| %>
                              <%= flash_message %>
                              <div class="innercol">
                                <%= f.error_messages %>
                                <div id="basic_form">
                                  <div class="block">
                                    <table style="WIDTH: 390px; HEIGHT: 94px">
                                      <tr>
                                        <td class="required"><%= label(:curriculum, 'Telefone:') %></td>
                                        <td><%= f.text_field :phone, :size => 30 %></td>
                                      </tr>
                                      <tr>
                                        <td class="required"><%= label(:curriculum, 'Endereço:') %></td>
                                        <td><%= f.text_field :address, :size => 30 %></td>
                                      </tr>
                                      <tr>
                                        <td class="required" colspan="3"><%= label(:curriculum, 'IM:') %></td>
                                        <td width="20%"><%= f.text_field :im, :size => 30 %></td>
                                        <td width="50%"><%= f.select :im_type, Curriculum::IM_TYPE, {:include_blank => true} %></td>
                                      </tr>
                                      <tr>
                                        <td class="required"><%= label(:curriculum, 'Estado Civil:') %></td>
                                        <td><%= f.select :maritial_status, Curriculum::MARITIAL_STATUS, {:include_blank => true} %></td>
                                      </tr>
                                    </table>                                                                   
                                  </div>
                              </div>

                              <div class="action">
                                   <%= submit_tag 'Salvar', :class => 'button' %>                                
                              </div>
                              <% end %>

                        </div></div></div>
                     </td>
                     <td class="right"></td>
                  </tr>
               </table>
          </div>
     </div>
</div></body></html>
