<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=unicode">
<meta content="MSHTML 6.00.2900.3562" name="GENERATOR"></head>
<body><div id="Wrapper" style="POSITION: relative">
     <div id="swap_from">
          <div id="screen_body" class="container">
               <table class="layout">
                  <tr>
                     <td class="left">
                        <div class="Left">
                           <div class="col">
                              <div class="page_header">
                                 <h1>Experiência Profissional</h1>
                              </div>

                              <% form_for :experience, :url => { :action => "update_experience", :id => @curriculum.id } do |f| %>
                              <%= flash_message %>
                              <%= hidden_field_tag :token, "experience" %>
                              <div class="innercol">
                                <%= f.error_messages %>
                                <div id="basic_form"> 
                                  <div class="block">
                                    <dl>
                                      <dt class="required"><%= label(:experience, 'Empresa:') %></dt>
                                      <dd><%= f.text_field :company_name, :size => 50 %></dd>

                                      <dt class="required"><%= label(:experience, 'Cargo:') %></dt>
                                      <dd><%= f.text_field :title, :size => 50 %></dd>

                                      <dt class="required"><%= label(:curriculum, 'Descrição:') %></dt>
                                      <dd><%= f.text_area :description, :cols => 60, :rows => 7 %></dd>
                                    </dl>
                                  </div>
                              </div>

                              <div class="action">
                                   <%= submit_tag 'Salvar', :class => 'button' %>                                
                              </div>
                              <% end %>

                        </div></div></div>
                     </td>
                     <td class="right"></td>
                  </tr>
               </table>
          </div>
     </div>
</div></body></html>
