<script>
  function show_dialog() {
    $("#dialog").dialog( { modal: true, width: 400 } );
  }
</script>

<div style="display: none;" id="dialog" title="Perfil Público">
  <div id="status"></div>
    <% form_remote_tag(:url => { :controller => "profile", :action => "public_profile" }, :update => "status") do %>
      <div id="head_informations">
        <ul><li><li></ul>
        <ul>
          <li>http://www.infocirculo.com/cv/&nbsp;<%= text_field_tag 'cv', @profile.user.cv %>&nbsp;<%= submit_tag "Ok", :class => 'button' %></li>
        </ul>
      </div>
    <% end %>
</div>

<div id="Wrapper" style="position: relative;">
  <div id="swap_from">

    <div id="screen_body" class="container">
      <table class="layout">
        <tr>
          <td class="left">
            <div class="Left">
              <div class="col">
                <div class="page_header">
                  <h1>Perfil</h1>
                </div>

                <%= flash_message %>

                    <div class="innercol">
                      <div id="head_informations">
                        <ul>
                          <span class="name"><%= @profile.user.name %></span>
                          <span class="edit">[<%= link_to "Editar", { :controller => "account" }, :id => "Edit Account" %>]</span>
                          <li>
                                <%= @profile.user.professional_description %>

                                <% if @profile.user.professional_description != "" and @profile.user.industry != nil %>
                                  -
                                <% end %>
                          
                                <% if @profile.user.industry != nil %>
                                  <%= @profile.user.industry.name %>
                                <% end %>
                          </li>
                          <li><%= @profile.user.email %></li>
                        </ul>
                      </div>
                  
                      <div id="personal_informations">
                        <h2>
                          Informações Pessoais
                          <span class="edit">[<%= link_to "Editar", { :controller => "profile", :action => "personal_informations" }, :id => "Edit Personal Information" %>]</span>
                        </h2>

                        <div class="block categories">
                          <ul>
                            <% if @profile.phone != nil %>
                              <li>Telefone: <%= @profile.phone %></li>
                            <% end %>
                            <% if @profile.address != "" %>
                              <li>Endereço: <%= @profile.address %></li>
                            <% end %>
                            <% if @profile.im != "" %>
                              <li>IM: <%= full_im %></li>
                            <% end %>
                            <% if @profile.maritial_status != nil %>
                              <li>Estado Civíl: <%= @profile.maritial_status %></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>

                      <div id="summary">
                        <h2>Resumo
                          <span class="edit">[<%= link_to "Editar", { :controller => "profile", :action => "summary" }, :id => "Edit Summary" %>]</span>
                        </h2>

                        <div class="block categories">
                          <ul>
                            <%= format_text_area(@profile.summary) %>
                          </ul>
                        </div>
                      </div>

                      <div id="professional_experience">
                        <h2>
                          Experiência Profissional
                          <span class="edit">[<img src="images/plus.PNG" width="15px" height="15px"> <%= link_to "Adicionar", new_experience_path, :id => "Add Experience" %>]</span>
                        </h2>

                        <% for experience in @profile.experiences %>
                            <div class="block categories">
                              <ul>
                                <li></li>
                                <li>
                                  <strong><%= experience.title %> - <%= experience.company_name %></strong>
                                  [<span class="edit"><%= link_to "Editar", edit_experience_path(experience), :id => "Edit Experience" %>]</span>
                                </li>

                                <% if experience.end != nil %>
                                    <li>
                                      <%= experience.start.strftime('%m/%Y') %> a <%= experience.end.strftime('%m/%Y') %>
                                    </li>
                                <% else %>
                                    <li><%= experience.start.strftime('%m/%Y') %></li>
                                <% end %>

                                <%= format_text_area(experience.description) %>
                              </ul>
                            </div>
                        <% end %>
                      </div>

                      <div id="education">
                        <h2>
                          Educação
                          <span class="edit">[<img src="images/plus.PNG" width="15px" height="15px"> <%= link_to "Adicionar", new_education_path %>]</span>
                        </h2>

                        <% for education in @profile.educations %>
                            <div class="block categories">
                              <ul>
                                <li></li>
                                <li>
                                  <strong><%= education.degree %> - <%= education.school_name %></strong>
                                  [<span class="edit"><%= link_to "Editar", edit_education_path(education) %>]</span>

                                  <% if education.end != nil %>
                                    <li><%= education.start.strftime('%m/%Y') %>
                                      a <%= education.end.strftime('%m/%Y') %></li>
                                  <% else %>
                                    <li><%= education.start.strftime('%m/%Y') %></li>
                                  <% end %>

                                  <%= format_text_area(education.activities) %>
                              </ul>
                            </div>
                        <% end %>
                      </div>

                      <div id="idiom">
                        <h2>
                          Idiomas
                          <span class="edit">[<img src="images/plus.PNG" width="15px" height="15px"> <%= link_to "Adicionar", new_idiom_path %>]</span>
                        </h2>

                        <% for idiom in @profile.idioms %>
                            <div class="block categories">
                              <ul>
                                <li></li>
                                <li>
                                  <%= idiom.name %> - <%= idiom.degree %>
                                  [<span class="edit"><%= link_to "Editar", edit_idiom_path(idiom) %>]</span>
                              </ul>
                            </div>
                        <% end %>
                      </div>

                </div>

              </div>
              <ul>
                  <li>&nbsp;</li>
              </ul>
            </div>
          </td>

          <td class="right">
            <div class="Right">
              <div class="col">

                <h1>Opções</h1>
                <div class="people">
                  <div class="contact">
                    
                        <span class="none"><%= link_to image_tag("pdf.png", :border => 0), :controller => "export", :action => "pdf" %></span>
                        <%= image_tag 'print.png' %>
                    
                  </div>
                </div>

                <h1>Perfil Público</h1>
                <div class="people">
                  <div class="contact">
                    <li><a href="#" onclick="show_dialog();">Edite a URL pública para compartilhamento do perfil.</a></li>
                  </div>
                </div>

              </div>
            </div>
          </td>

        </tr>
      </table>
    </div>

  </div>
</div>