<div id="Wrapper" style="position: relative;">
  <div id="swap_from">

    <div id="screen_body" class="container">
      <table class="layout">
        <tr>
          <td class="left">
            <div class="Left">
              <div class="col">
                <div class="page_header">
                  <h1>Perfil</h1>
                </div>

                <%= flash_message %>

                <div class="innercol">
                  <div id="head_informations">
                    <ul>
                      <span class="name"><%= full_name %></span> <%= current_subdomain %>
                      <span class="edit">[<%= link_to "Editar", :controller => "account" %>]</span>
                      <li><%= @profile.user.professional_description %> - <%= @profile.user.industry.name %></li>
                      <li><%= @profile.user.email %></li>
                    </ul>
                  </div>

                  <% if @profile %>
                      <div id="personal_informations">
                        <h2>
                          Informações Pessoais
                          <span class="edit">[<%= link_to "Editar", :controller => "profile", :action => "personal_informations" %>]</span>
                        </h2>

                        <div class="block categories">
                          <ul>
                            <li>Telefone: <%= @profile.phone %></li>
                            <li>Endereço: <%= @profile.address %></li>
                            <li>IM: <%= full_im %></li>
                            <li>Estado Civíl: <%= @profile.maritial_status %></li>
                          </ul>
                        </div>
                      </div>

                      <div id="summary">
                        <h2>
                          Resumo
                          <span class="edit">[<%= link_to "Editar", { :controller => "profile", :action => "summary" } %>]</span>
                        </h2>

                        <div class="block categories">
                          <ul>
                            <%= format_text_area(@profile.summary) %>
                          </ul>
                        </div>
                      </div>

                      <div id="professional_experience">
                        <h2>
                          Experiência Profissional
                          <span class="edit">[<img src="images/plus.PNG" width="15px" height="15px"> <%= link_to "Adicionar", new_education_path %>]</span>
                        </h2>

                        <% for experience in @profile.experiences %>
                            <div class="block categories">
                              <ul>
                                <li></li>
                                <li id="">
                                  <strong><%= experience.title %> - <%= experience.company_name %></strong>
                                  [<span class="edit"><%= link_to "Editar", edit_experience_path(experience) %>]</span>
                                </li>

                                <% if experience.end != nil %>
                                    <li>
                                      <%= experience.start.strftime('%m/%Y') %> a <%= experience.end.strftime('%m/%Y') %>
                                    </li>
                                <% else %>
                                    <li><%= experience.start.strftime('%m/%Y') %></li>
                                <% end %>

                                <%= format_text_area(experience.description) %>
                              </ul>
                            </div>
                        <% end %>
                      </div>

                      <div id="education">
                        <h2>
                          Educação
                          <span class="edit">[<img src="images/plus.PNG" width="15px" height="15px"> <%= link_to "Adicionar", new_education_path %>]</span>
                        </h2>

                        <% for education in @profile.educations %>
                            <div class="block categories">
                              <ul>
                                <li></li>
                                <li>
                                  <strong><%= education.degree %> - <%= education.school_name %></strong>
                                  [<span class="edit"><%= link_to "Editar", edit_education_path(education) %>]</span>

                                  <% if education.end != nil %>
                                    <li><%= education.start.strftime('%m/%Y') %>
                                      a <%= education.end.strftime('%m/%Y') %></li>
                                  <% else %>
                                    <li><%= education.start.strftime('%m/%Y') %></li>
                                  <% end %>

                                  <%= format_text_area(education.activities) %>
                              </ul>
                            </div>
                        <% end %>
                      </div>

                      <div id="idiom">
                        <h2>
                          Idiomas
                          <span class="edit">[<img src="images/plus.PNG" width="15px" height="15px"> <%= link_to "Adicionar", new_idiom_path %>]</span>
                        </h2>

                        <% for idiom in @profile.idioms %>
                            <div class="block categories">
                              <ul>
                                <li></li>
                                <li>
                                  <%= idiom.name %> - <%= idiom.degree %>
                                  [<span class="edit"><%= link_to "Editar", edit_idiom_path(idiom) %>]</span>
                              </ul>
                            </div>
                        <% end %>
                      </div>

                  <% end %>
                </div>

              </div>
            </div>
          </td>

          <td class="right">
            <div class="Right">
              <div class="col">

                <h1>Opções</h1>
                <div class="people">
                  <div class="contact" id="firm_employee_3809931">
                    <%= image_tag 'print.png' %>
                    <%= image_tag 'pdf.png' %>
                    <br><br>
                    <a rel="lightbox" href="user/account">Permitir visualização pública do perfil.</a>
                    <br><br>
                    <a href="#TB_inline?height=155&amp;width=300&amp;inlineId=myOnPageContent&amp;modal=true" class="thickbox">Show hidden modal content.</a></p>

                    <div id="myOnPageContent" style="display:none;"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                  </div>
                </div>
                
              </div>
            </div>
          </td>

          

        </tr>
      </table>
    </div>
    
  </div>
</div>