<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=unicode">
<meta content="MSHTML 6.00.2900.3562" name="GENERATOR"></head>
<body><div id="Wrapper" style="POSITION: relative">
     <div id="swap_from">
          <div id="screen_body" class="container">
               <table class="layout">
                  <tr>
                     <td class="left">
                        <div class="Left">
                           <div class="col">
                              <div class="page_header">
                                <span class="other_indexes">
                                    <%= link_to 'Voltar', :controller => 'profile', :action => 'index' %>
                                </span>
                                
                                 <h1>Informações Pessoais</h1>
                              </div>

                              <% form_for :curriculum, @curriculum, :url => { :action => "update", :id => @curriculum.id } do |f| %>
                              <%= hidden_field_tag :token, "personal_informations" %>
                              <div class="innercol">
                                <%= f.error_messages %>
                                <div id="basic_form"> 
                                  <div class="block">
                                    <dl>
                                      <dt class="required"><%= label(:curriculum, 'Telefone:') %></dt>
                                      <dd><%= text_field_with_js_mask :curriculum, :phone, :class => 'mask_phone' -%></dd>

                                      <dt class="required"><%= label(:curriculum, 'Endereço:') %></dt>
                                      <dd><%= f.text_field :address, :size => 30 %></dd>

                                      <dt class="required"><%= label(:curriculum, 'IM:') %></dt>
                                      <dd><%= f.text_field :im, :size => 30 %>&nbsp;<span style="vertical-align:bottom;"><%= f.select :im_type, Curriculum::IM_TYPE, {:include_blank => true} %></span></dd>

                                      <dt class="required"><%= label(:curriculum, 'Estado Civíl:') %></dt>
                                      <dd><%= f.select :maritial_status, Curriculum::MARITIAL_STATUS, {:include_blank => true} %></dd>
                                    </dl>
                                  </div>
                              </div>

                              <div class="action">
                                <div class="buttons">
                                   <%= submit_tag 'Salvar' %> 
                                   <br>
                                </div>
                              </div>
                              <% end %>

                        </div></div></div>
                     </td>
                     <td class="right"></td>
                  </tr>
               </table>
          </div>
     </div>
</div></body></html>
